.noselect, button {
    user-select: none;
}

.file {
    padding: 5px;
    border: 10px;
    border-radius: 5px;
    width: fit-content;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.file > div {
    border: 2px solid black;
    padding: 10px;
    padding-top: 0px;
    border-radius: 5px;
}

.file > div > p {
    text-align: center;
}

.file > div > section {
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 10px;
}

.confirm, .main, .results {
    padding: 10px;
    margin: 10px;
    background-color: ghostwhite;
    border: 10px;
    border-radius: 4px;
}

#quiz_title {
    text-align: center;
}

.confirm > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main h1, .main h3 {
    text-align: center;
}

.controls {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.progress {
    display: flex;
    text-align: right;
    justify-content: space-between;
}

.question_boolean, .question_multiple_choice {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: row;
}

.question_button, .question_button_selected {
    border: 2px solid blue;
    border-radius: 5px;
    font-size: large;
}

.question_button {
    background-color: lightgray;
}

.question_button_selected {
    background-color: lightblue;
}

.question_input {
    position: relative;
    left: 25%;
    width: 50%;
    height: 50px;
    text-align: center;
    font-size: large;
}

table, td {
    border: 1px solid #333333;
}

td {
    padding: 2px;
}

thead, tfoot {
    background-color: #333333;
    color: white;
}
